@model ZkhiphavaWeb.Models.Indawo

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col-md-3">
        <div>
            <h4>@Model.name info</h4>
            <hr />
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.lat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.lat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.lon)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.lon)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.address)
                </dd>



            </dl>
        </div>
    </div>
    <div class="col-md-3">
        <h4>Operating hours</h4>
        <hr />
        @foreach (var oph in Model.oparatingHours)
        {
            <p>@oph.day | @oph.openingHour.TimeOfDay -> @oph.closingHour.TimeOfDay</p>
            <a href=@Url.Action("Edit", "OperatingHours", new { id = oph.id })>Edit</a>
            <a class="pull-right" href=@Url.Action("Delete", "OperatingHours", new { id = oph.id })>Delete</a>
        }
        <br />
        <br />
        <br />
        <a href=@Url.Action("Create", "OperatingHours")>Create</a>
    </div>
    <div class="col-md-3">
        <h4>images</h4>
        <hr />
        @foreach (var img in Model.images)
        {
            <img src="@Url.Content(img.imgPath)" style="height: 100px; width:250px; border-radius:10px;" />
            <a href=@Url.Action("Edit", "Images", new { id = img.id })>Edit</a>
            <a class="pull-right" href=@Url.Action("Delete", "Images", new { id = img.id })>Delete</a>
        }
        <br />
        <br />
        <br />
        <a href=@Url.Action("Create", "Images")>Create</a>
    </div>
    <div class="col-md-3">
        <h4>Special Instructions</h4>
        <hr />
        @foreach (var sp in Model.specialInstructions)
        {
            <p>@sp.instruction</p>
            <a href=@Url.Action("Edit", "SpecialInstructions", new { id = sp.id })>Edit</a>
            <a class="pull-right" href=@Url.Action("Delete", "SpecialInstructions", new { id = sp.id })>Delete</a>
        }
        <br />
        <br />
        <br />
        <a href=@Url.Action("Create", "SpecialInstructions")>Create</a>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
